<!DOCTYPE html>
<html ng-app="nbadraftEvaluator">
  <head>
    <title>NBA Draft Evaluator</title>
    <!-- external -->
    <script src="external/angular.js"></script>
    <script src="external/angular-ui-router.js"></script>
    <script src="external/jquery.min.js"></script>
      <!-- uiBootstrap -->
      <script src="external/uiBootstrap/ui-bootstrap.js"></script>
      <script src="external/uiBootstrap/ui-bootstrap-tpls.js"></script>
      <!-- ngDialog -->
      <script src="external/ngDialog/ng-dialog.js"></script>
      <link rel="stylesheet" href="external/ngDialog/ngDialog.min.css"></script>
      <link rel="stylesheet" href="external/ngDialog/ngDialog-theme-plain.min.css"></script>
      <link rel="stylesheet" href="external/ngDialog/ngDialog-theme-default.min.css"></script>
      <!-- bootstrap -->
      <link rel="stylesheet" href="external/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="external/bootstrap/bootstrap-theme.min.css">
      <script src="external/bootstrap/bootstrap.min.js"></script>
      <!-- az.helpers -->
      <script src="external/azHelpers/az.helpers.js"></script>
      <link rel="stylesheet" href="external/azHelpers/az.helpers.css">

    <!-- app -->
    <script src="app.js"></script>
    <script src="lower_underscore_case.filter.js"></script>
    <script src="players.value.js"></script>
    <script src="win_shares_per_season_per_draft_pick.value.js"></script>
    <script src="data.service.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="MainCtrl as mainVm">
      <div class="page-header">
        <h1>NBA Draft Evaluator</h1>
      </div>

      <!-- <p>
        <az-debug-toggle></az-debug-toggle>
        <az-debug name="mainVm.userChoices" content="mainVm.userChoices"></az-debug>
      </p> -->

      <div>
        <label>Select draft year:</label>
        <select
          ng-model="mainVm.draft"
          ng-options="draft for draft in mainVm.drafts"
        ></select>
      </div>

      <hr />

      <div class="well">
        <table class="table">
          <thead>
            <tr>
              <th>Your Average Points</th>
              <th>Partial Draft Average Points</th>
              <th>Full Draft Average Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ mainVm.userPointsForEachDraft[mainVm.draft] | number:2 }}</td>
              <td>{{ mainVm.getPartialDraftActualPoints() | number:2 }}</td>
              <td>{{ mainVm.getFullDraftActualPoints() | number:2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-6">
          <h3>Your Rankings:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Player</th>
                <th>WSPS</th>
                <th>Draft Position</th>
                <th>Multiplier</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="userChoice in mainVm.userChoices[mainVm.draft] track by $index">
                <td>{{ $index + 1 }}</td>
                <td>
                  <input
                    type="text"
                    ng-model="userChoice.name"
                    uib-typeahead="player.name for player in mainVm.PLAYERS[mainVm.draft] | filter:$viewValue"
                    typeahead-on-select="mainVm.onSelect(userChoice.name, $index + 1)"
                    ng-change="mainVm.onSelect(userChoice.name, $index + 1)"
                    class="form-control"
                    style="display: inline-block; width: 200px;"
                  >
                </td>
                <td>{{ userChoice.winSharesPerSeason | number:2 }}</td>
                <td>{{ mainVm.WIN_SHARES_PER_SEASON_PER_DRAFT_PICK[$index] | number:2 }}</td>
                <td>{{ mainVm.getPickMultiplyer($index + 1) | number:2 }}</td>
                <td>{{ userChoice.points | number:2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h3>Actual Draft:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Player</th>
                <th>WSPS</th>
                <th>Draft Position</th>
                <th>Multiplier</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in mainVm.PLAYERS[mainVm.draft]">
                <td>{{ $index + 1 }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.winSharesPerSeason | number:2 }}</td>
                <td>{{ mainVm.WIN_SHARES_PER_SEASON_PER_DRAFT_PICK[$index] | number:2 }}</td>
                <td>{{ mainVm.getPickMultiplyer($index + 1) | number:2 }}</td>
                <td>{{ mainVm.getPointsForPick(player.name, $index + 1) | number:2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
